html, body {
    color: #FFFFFF;
    font-family: 'Circular-Book', Arial, sans-serif;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This applies the text color and font to everything and sets the cursor to shrek*/
}
#div1 {
    background-image: url("/ziar.jpg");
    position: absolute;
    width: 100%;
    height: 1000px;
    z-index: 0;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This sets the background image for the left column and sets it to the back of the screen and sets the cursor to shrek*/
}
#div2 {
    position: absolute;
    margin-left: 50%;
    width: 50%;
    height: 1000px;
    background-image: url("/liam.jpg");
    z-index: 0;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This sets the background image for the right column and sets it to the back of the screen and sets the cursor to shrek*/
}
#div3 {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 1000px;
    background-color: rgba(20,20,20,0.95);
    z-index: 1;
    /*This centers the middle column and brings it in front of the left and right columns and sets the cursor to shrek*/
}
#navBar {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This sets the margins for my nav bar and sets the cursor to shrek*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This gets rid of the formatting so that the links are inline and sets the cursor to shrek*/
}
li {
    float: left;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This aligns the links and sets the cursor to shrek*/
}
li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: inherit;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This formats the text inside the nav bar and sets the cursor to shrek*/
}
li a:hover:not(.active) {
    background-color: #111;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This makes the link that you're hovering on turn darker and sets the cursor to shrek*/
}
#rickRoll {
    float: right;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This aligns the extra button to the right and sets the cursor to shrek*/
}
#content {
    position: absolute;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    cursor: url("/therealcursorshrek.cur"), auto;
    /*This sets the margins for the actual content and sets the cursor to shrek*/
}
